* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing {
    background: linear-gradient(rgba(0,0,0,0.5), #0096), url(images/background1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.landing.active {
    filter: blur(15px);
}
.landing-text {
    text-align: center;
    color: #000;
    padding-top: 180px;
}
.landing-text h1 {
    font-size: 150px;
}
.landing-text p {
    font-size: 30px;
    font-style: italic;
}
.landing-text .start-btn {
    width: 300px;
    height: 100px;
    background: #0096;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 20px #0096;
    outline: none;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}
.landing-text .start-btn:hover {
    background: #0000;
    box-shadow: none;
}

body {
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar a {
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #009666;
}

.pop-info {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    background:#7393B3;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}
.pop-info.active {
    pointer-events: auto;
    opacity: 1;
    display: block;
}
.pop-info h2 {
    color: #000000;
    font-size: 50px;
}
.pop-info .info {
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin: 4px 0;
}
.pop-info .btn-class {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: 2px solid #fff;
}

.quiz {
    display: none;
    position: absolute;
    left: 20%;
    top: 20%;
    justify-content: center;
    align-items: center;
    background: #0096;
    z-index: 100;
    transition: 0.8s ease-in-out;
    transition-delay: 0.25s;
}
.quiz.active {
    display: block;
}
.quiz .quiz-border {
    position: relative;
    width: 500px;
    background: transparent;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}
.quiz-border h1 {
    text-align: center;
    font-size: 30px;
}
.quiz-border .quiz-header {
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    display: flex;
    margin-bottom: 2px solid #000000;
}
.quiz-header .span {
    font-size: 20px;
    font-weight: 500;
}
.quiz-border .question {
    font-size: 25px;
    font-weight: 600;
}
.options .option {
    background: transparent;
    width: 100%;
    font-size: 15px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.options .option:hover {
    background: #0096;
}
.quiz-border .quiz-footer {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.quiz-footer .question-number {
    font-size: 20px;
    font-weight: 500px;
}
.quiz-footer .next-btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight:600px;
    background: #0080;
    border: 2px solid #000000;
    border-radius: 6px;
    outline: none;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}
.quiz-footer .next-btn:hover {
    background: #008000;
}
.quiz-footer .back-btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight:600px;
    background: #0080;
    border: 2px solid #000000;
    border-radius: 6px;
    outline: none;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}
.quiz-footer .back-btn:hover {
    background: #008000;
