* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing {
    background: linear-gradient(rgba(0,0,0,0.5), #0096), url(images/background1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.landing-text {
    text-align: center;
    color: #000;
    padding-top: 180px;
}
.landing-text h1 {
    font-size: 150px;
}
.landing-text p {
    font-size: 30px;
    font-style: italic;
}

body {
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #0096;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32 px;
    text-decoration: none;
    color: #fff;
    font-weight: 1000;
}

.SideNav a {
    color: #ffff;
    position: fixed;
    font-wight: 700;
    top: 0;
    text-decoration: none;
    margin-left: 35 px;
    transition: right 0.3s;
}

.SideNav a:hover {
    color: #00000;
}
